<!DOCTYPE html>
<html>
<head>
  <title>Instashare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless flash[:errors].nil? %>
<%= flash[:errors] %>
<% end %>
  <% if signed_in? %>
<%= current_user.username%>
<form action="<%= session_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Sign Out">
<% else %>
  <a href="<%= new_session_url %>">Sign In</a>
  <a href="<%= new_user_url %>">Sign Up</a>
<% end %>
<%= yield %>

</body>
</html>
